<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
   
	<context:component-scan base-package="test05"></context:component-scan>
	
	<bean id="vo01" class="test05.GoodsVO" p:code="p0007" p:name="node.js" p:price="10000" p:maker="SDS"></bean>
	<bean id="vo02" class="test05.GoodsVO" p:code="p0008" p:name="spring-boot" p:price="50000" p:maker="SDS02"></bean>
	
	<bean id="deleteName" class="java.lang.String">
		<constructor-arg value="node.js"/>
	</bean>
</beans>    