<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan
		base-package="studentSpring" />

	<bean id="kim" class="studentSpring.Student">

		<property name="name" value="Kim"></property>
		<property name="korean" value="100"></property>
		<property name="english" value="90"></property>
		<property name="math" value="95"></property>
		<property name="science" value="89"></property>

	</bean>

	<bean id="lee" class="studentSpring.Student">

		<property name="name" value="Lee"></property>
		<property name="korean" value="70"></property>
		<property name="english" value="70"></property>
		<property name="math" value="99"></property>
		<property name="science" value="98"></property>

	</bean>
	
	<bean id="park" class="studentSpring.Student">

		<property name="name" value="Park"></property>
		<property name="korean" value="68"></property>
		<property name="english" value="86"></property>
		<property name="math" value="60"></property>
		<property name="science" value="40"></property>

	</bean>

</beans>