<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

    <bean id="barTest" class="sample6.Bar" />
	<bean id="date" class="java.util.Date" />
	
	<bean id="fooTest" class="sample6.Foo">	
		<constructor-arg ref="date" />
	
		<property name="bar">
			<ref bean="barTest" />
		</property>
	
		<property name="date">
			<ref bean="date" />
		</property>	
		<property name="number">
			<value>25</value>
		</property>
		
<!-- setInfo(List<String> item) -->
		<property name="info">
			<list>
				<value>영어</value><value>수학</value>
				<value>국어</value>
			</list>
		</property>		
<!-- 	setStudents(String[] item)	 -->		
		<property name="students">
			<list>
				<value>윤희</value>
				<value>건동</value>
				<value>은혜</value>
				<value>지수</value>
			</list>
		</property>
				
<!--    setEvent(Set<String>) -->
		<property name="event">
			<set>
				<value>둘리</value>
				<value>고길동</value>
				<value>또치</value>
				<value>고길동</value>
			</set>
		</property>
				
		
<!--    setTelNumber(Map<String,String>) -->		
		<property name="telNumber">
			<map>
				<entry>
					<key><value>1</value></key>
					<value>봄</value>
				</entry>
				<entry>	<key><value>2</value></key>
					<value>여름</value>
				</entry>
				<entry>	<key><value>3</value></key>
					<value>가을</value>
				</entry>
				<entry><key><value>4</value></key>
					<value>겨울</value>
				</entry>
			</map>
		</property>
	</bean>
</beans>
















































