<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="mi" class="sample1.MessageImpl"/>  
    <bean id="mi02" class="sample1.MessageImpl">
    	<!-- <constructor-arg>
    		<value>melon</value>
    	</constructor-arg>
    	<constructor-arg>
    		<value>7000</value>
    	</constructor-arg>
    	 -->
    	 <constructor-arg index="0" value="melon"/>
    	 <constructor-arg index="1" value="7000"/>
    </bean>  
    
    
</beans>